<h2 class="text-center text-primary">Add Treatment</h2>
<br/>


<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <h3 class="text-center">{{curentTreatment.patientName}}</h3>
        <br/>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientName" class="">Patient Name</label>
            </div>
            <div class="col-md-10">
                <input id="patientName" type="text" class="form-control" ng-model="curentTreatment.patientName" readonly="readonly"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientAge">Age</label>
            </div>
            <div class="col-md-10">
                <input id="patientAge" type="text" class="form-control" ng-model="curentTreatment.patientAge" readonly="readonly"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientCronic">Cronic Diseases</label>
            </div>
            <div class="col-md-10">
                <input id="patientCronic" type="text" class="form-control" ng-model="curentTreatment.cronicList" readonly="readonly"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientAlergies">Alergies</label>
            </div>
            <div class="col-md-10">
                <input id="patientAlergies" type="text" class="form-control" ng-model="curentTreatment.alergiesList" readonly="readonly"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label for="patientDiagnosis" class="">Diagnosis</label>
            </div>

            <div class="col-md-10">
                <input id="patientDiagnosis" class="" ng-model="curentTreatment.diagnosis" />
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label for="treatmentStart">From</label>
            </div>
            <div class="col-md-10">
                <input id="treatmentStart" ng-model="curentTreatment.treatmentStart">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <label for="treatmentEnd">To</label>
            </div>
            <div class="col-md-10">
                <input id="treatmentEnd" ng-model="curentTreatment.treatmentEnd">
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Dosage</th>
                    <th>Frequency / day</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="curentTreatment.medicine1.name"/></td>
                    <td><input type="text" ng-model="curentTreatment.medicine1.dosage"/></td>
                    <td><input type="text" ng-model="curentTreatment.medicine1.freq"/></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="curentTreatment.medicine2.name"/></td>
                    <td><input type="text" ng-model="curentTreatment.medicine2.dosage"/></td>
                    <td><input type="text" ng-model="curentTreatment.medicine2.freq"/></td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="curentTreatment.medicine3.name"/></td>
                    <td><input type="text" ng-model="curentTreatment.medicine3.dosage"/></td>
                    <td><input type="text" ng-model="curentTreatment.medicine3.freq"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 col-md-offset-9">
            <button class="btn btn-warning" ng-click="addTreatment()">Add Treatment</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>