<h2 class="text-center text-primary">Add Treatment</h2>
<br/>
<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <h3 class="text-center">Luminita Cojocea</h3>
        <br/>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientName" class="">Patient Name</label>
            </div>
            <div class="col-md-10">
                <input id="patientName" type="text" class="form-control" value="Luminita Cojocea" readonly="readonly"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientAge">Age</label>
            </div>
            <div class="col-md-10">
                <input id="patientAge" type="text" class="form-control" value="24 years" readonly="readonly"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientCronic">Cronic Diseases</label>
            </div>
            <div class="col-md-10">
                <input id="patientCronic" type="text" class="form-control" value="No cronic disease" readonly="readonly"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="patientAlergies">Alergies</label>
            </div>
            <div class="col-md-10">
                <input id="patientAlergies" type="text" class="form-control" value="Eritromicine and Claritromicine" readonly="readonly"/>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2">
                <label for="patientDiagnosis" class="">Diagnosis</label>
            </div>

            <div class="col-md-10">
                <input id="patientDiagnosis" class="" value="Flu" />
            </div>
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Dosage</th>
                    <th>Frequency / day</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" value="Nurofen"/></td>
                    <td><input type="text" value="500"/></td>
                    <td><input type="text" value="3x"/></td>
                </tr>
                <tr>
                    <td><input type="text" value="Oxacilina"/></td>
                    <td><input type="text" value="300"/></td>
                    <td><input type="text" value="3x"/></td>
                </tr>
                <tr>
                    <td><input type="text" value=""/></td>
                    <td><input type="text" value=""/></td>
                    <td><input type="text" value=""/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 col-md-offset-9">
            <button class="btn btn-warning">Add Treatment</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>