<h2 class="text-center text-primary">View Treatments</h2>
<br/>
<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <h3 class="text-center">
            For patient
            <select data-ng-model="selectedPatientUnderTreatment" title="Select patient">
                <option data-ng-repeat="pat in patientUnderTreatmentList" data-ng-value="pat">{{pat}}</option>
            </select>
        </h3>
        <br/>
    </div>
    <div class="panel-body">
        <div class="col-md-12 patient-wrapper" data-ng-repeat="docTreatment in doctorTreatments|filter : selectedPatientUnderTreatment">
            <div class="col-md-12 treat-diagnosis-name"><h3>Treatment for: <span class="text-info">{{docTreatment.diagnosis}}</span></h3></div>
            <div class="col-md-6 treat-from">From: <span class="text-primary">{{docTreatment.treatmentStart}}</span></div>
            <div class="col-md-6 treat-to">To: <span class="text-primary">{{docTreatment.treatmentEnd}}</span></div>
            <div class="col-md-12">Treatment taken today: <span class="text-primary">{{docTreatment.takenToday}}</span></div>
            <div class="clearfix"></div>
            <br>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Dosage</th>
                            <th>Frequency / day</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{docTreatment.medicine1.name}}</td>
                            <td>{{docTreatment.medicine1.dosage}}</td>
                            <td>{{docTreatment.medicine1.freq}}</td>
                        </tr>
                        <tr>
                            <td>{{docTreatment.medicine2.name}}</td>
                            <td>{{docTreatment.medicine2.dosage}}</td>
                            <td>{{docTreatment.medicine2.freq}}</td>
                        </tr>
                        <tr>
                            <td>{{docTreatment.medicine3.name}}</td>
                            <td>{{docTreatment.medicine3.dosage}}</td>
                            <td>{{docTreatment.medicine3.freq}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>