<h2 class="text-center text-primary">Doctor Profile</h2>
<br/>
<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <h3 class="text-center">Dr. {{doctor.doctorName}}</h3>
        <br/>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="doctorName" class="">Name</label>
            </div>
            <div class="col-md-10">
                <input id="doctorName" type="text" class="form-control" ng-model="doctor.doctorName">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="startTime">Available from</label>
            </div>
            <div class="col-md-8">
                <input id="startTime" type="number" min="0" max="24" class="form-control" ng-model="doctor.availableFromValue"/>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="doctor.availableFromType">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label for="endTime">Available to</label>
            </div>
            <div class="col-md-8">
                <input id="endTime" type="number" min="0" max="24" class="form-control" ng-model="doctor.availableToValue"/>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="doctor.availableToType">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label>Available on</label>
            </div>
            <div class="col-md-10 profileLabel">
                <label for="chMonday">Mo</label>
                <input type="checkbox" id="chMonday" ng-model="doctor.availableOn.Mo">
                &nbsp;&nbsp;&nbsp;
                <label for="chTuesday">Tu</label>
                <input type="checkbox" id="chTuesday" ng-model="doctor.availableOn.Tu">
                &nbsp;&nbsp;&nbsp;
                <label for="chWednesday">We</label>
                <input type="checkbox" id="chWednesday" ng-model="doctor.availableOn.We">
                &nbsp;&nbsp;&nbsp;
                <label for="chThursday">Th</label>
                <input type="checkbox" id="chThursday" ng-model="doctor.availableOn.Th">
                &nbsp;&nbsp;&nbsp;
                <label for="chFriday">Fr</label>
                <input type="checkbox" id="chFriday" ng-model="doctor.availableOn.Fr">
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 profileLabel">
                <label>Specializations</label>
            </div>
            <div class="col-md-10" style="margin-top: 10px;">
                <div class="col-md-12">
                    <input id="orl" type="checkbox" ng-model="doctor.specializationList.Orl">
                    <label for="orl">ORL</label>
                </div>
                <div class="col-md-12">
                    <input id="cardio" type="checkbox" ng-model="doctor.specializationList.Card">
                    <label for="cardio">Cardiology</label>
                </div>
                <div class="col-md-12">
                    <input id="neuro" type="checkbox" ng-model="doctor.specializationList.Neur">
                    <label for="neuro">Neurology</label>
                </div>
                <div class="col-md-12">
                    <input id="general" type="checkbox" ng-model="doctor.specializationList.Gene">
                    <label for="general">Generalist</label>
                </div>
                <div class="col-md-12">
                    <input id="surgeon" type="checkbox" ng-model="doctor.specializationList.Surg">
                    <label for="surgeon">Surgeon</label>
                </div>
                <div class="col-md-12">
                    <input id="pedi" type="checkbox" ng-model="doctor.specializationList.Pedi">
                    <label for="pedi">Pediatric Doctor</label>
                </div>
                <div class="col-md-12">
                    <input id="trauma" type="checkbox" ng-model="doctor.specializationList.Trau">
                    <label for="trauma">Trauma</label>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-9">
            <button class="btn btn-warning" ng-click="updateProfile()">Update profile</button>
        </div>
    </div>
</div>
<div class="clearfix"></div>