<div class="auth-forms title">
    <h2>Register</h2>
    <form ng-submit="register(user)">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
            <input type="text" ng-model="user.name" placeholder="Name" class="form-control" required>
        </div><br>

        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </div>
            <input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
        </div><br>

        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </div>
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
        </div>

        <div class="input-group">
            <br>
            <input type="checkbox" ng-model="isPatient" name="isDoctorChk" id="isDoctorChk">
            <label for="isDoctorChk">&nbsp;&nbsp;I'm a patient</label>
        </div>

        <div ng-show="isPatient" class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </div>
            <input type="text" ng-model="userAge" placeholder="Age" class="form-control" value="">
        </div>

        <input type="submit" value="Register" class="btn btn-primary">
    </form>
</div>