<h2 class="text-center text-primary">Patients list</h2>
<br/>
<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <br/>
        <input type="text" class="form-control" placeholder="Search" ng-model="search">
        <h3 class="text-center"></h3>
        <br/>
    </div>
    <div class="panel-body" ng-repeat="docPatient in doctorPatients| filter:search">
        <div class="col-md-12 patient-wrapper" ng-hide="docPatient.needUrgentCare">
            <div class="col-md-6 patient-name"><h3 class="text-info">{{docPatient.patientName}}</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="text-primary">{{docPatient.patientAge}} years</span></div>

            <div class="col-md-6 patient-diagnostic">Diagnostic: <span class="text-warning text-bold">{{docPatient.diagnostic}}</span></div>
            <!--<div class="col-md-6">Next: <span class="text-primary">10/06/2015 02:20 PM</span></div>-->

            <div class="col-md-6">First checkup: <span class="text-info">{{docPatient.isFirstCheckup}}</span></div>
            <div class="col-md-6">Is cronic: <span class="text-info">{{docPatient.isCronic}}</span></div>

            <div class="col-md-6">Taking treatment: <span class="text-info">{{docPatient.isTakingTreatment}}</span></div>
            <div class="col-md-6">Is healing: <span class="text-info">{{docPatient.isHealing}}</span></div>

            <div class="col-md-6">
                <button class="btn btn-warning" ng-click="viewTreatmentsForPaient(docPatient.patientId)">View Treatments</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning" ng-click="addTreatmentForPatient(docPatient.patientId)">Add Treatment</button>
            </div>
        </div>
        <div class="col-md-12 patient-wrapper alert-danger" ng-show="docPatient.needUrgentCare">
            <div class="col-md-6 patient-name"><h3 class="">{{docPatient.patientName}}</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="">{{docPatient.patientAge}} years</span></div>
            <div class="col-md-12 patient-diagnostic">Diagnostic: <span class=" text-bold">{{docPatient.diagnostic}}</span></div>
            <div class="col-md-6 col-md-offset-3 text-center"><h3 class="">NEED URGENT CARE</h3></div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <button class="btn btn-info">Assist</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>