<h2 class="text-center text-primary">Patients list</h2>
<br/>
<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <br/>
        <input type="text" class="form-control" placeholder="Search">
        <h3 class="text-center"></h3>
        <br/>
    </div>
    <div class="panel-body">
        <div class="col-md-12 patient-wrapper">
            <div class="col-md-6 patient-name"><h3 class="text-info">Luminita Cojocea</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="text-primary">24 years</span></div>

            <div class="col-md-6 patient-diagnostic">Diagnostic: <span class="text-warning text-bold">Flu</span></div>
            <div class="col-md-6">Next: <span class="text-primary">10/06/2015 02:20 PM</span></div>

            <div class="col-md-6">First checkup: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is cronic: <span class="text-info">No</span></div>

            <div class="col-md-6">Taking treatment: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is healing: <span class="text-info">Yes</span></div>

            <div class="col-md-6">
                <button class="btn btn-warning">View Treatments</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning">Add Treatment</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-md-12 patient-wrapper alert-danger">
            <div class="col-md-6 patient-name"><h3 class="">Laura Ardelean</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="">27 years</span></div>
            <div class="col-md-12 patient-diagnostic">Diagnostic: <span class=" text-bold">Flu</span></div>
            <div class="col-md-6 col-md-offset-3 text-center"><h3 class="">NEED URGENT CARE</h3></div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <button class="btn btn-info">Assist</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-md-12 patient-wrapper">
            <div class="col-md-6 patient-name"><h3 class="text-info">Ana Popescu</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="text-primary">40 years</span></div>

            <div class="col-md-6 patient-diagnostic">Diagnostic: <span class="text-warning text-bold">Flu</span></div>
            <div class="col-md-6">Next: <span class="text-primary">10/06/2015 03:30 PM</span></div>

            <div class="col-md-6">First checkup: <span class="text-info">No</span></div>
            <div class="col-md-6">Is cronic: <span class="text-info">Yes</span></div>

            <div class="col-md-6">Taking treatment: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is healing: <span class="text-info">Yes</span></div>

            <div class="col-md-6">
                <button class="btn btn-warning">View Treatments</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning">Add Treatment</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-md-12 patient-wrapper">
            <div class="col-md-6 patient-name"><h3 class="text-info">Mihai Georgescu</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="text-primary">50 years</span></div>

            <div class="col-md-6 patient-diagnostic">Diagnostic: <span class="text-warning text-bold">Flu</span></div>
            <div class="col-md-6">Next: <span class="text-primary">10/06/2015 02:20 PM</span></div>

            <div class="col-md-6">First checkup: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is cronic: <span class="text-info">No</span></div>

            <div class="col-md-6">Taking treatment: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is healing: <span class="text-info">Yes</span></div>

            <div class="col-md-6">
                <button class="btn btn-warning">View Treatments</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning">Add Treatment</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-md-12 patient-wrapper">
            <div class="col-md-6 patient-name"><h3 class="text-info">Ana Maria</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="text-primary">50 years</span></div>

            <div class="col-md-6 patient-diagnostic">Diagnostic: <span class="text-warning text-bold">Flu</span></div>
            <div class="col-md-6">Next: <span class="text-primary">10/06/2015 02:20 PM</span></div>

            <div class="col-md-6">First checkup: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is cronic: <span class="text-info">No</span></div>

            <div class="col-md-6">Taking treatment: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is healing: <span class="text-info">Yes</span></div>

            <div class="col-md-6">
                <button class="btn btn-warning">View Treatments</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning">Add Treatment</button>
            </div>
        </div>
    </div>



    <div class="panel-body">
        <div class="col-md-12 patient-wrapper">
            <div class="col-md-6 patient-name"><h3 class="text-info">Alexandru Pop</h3></div>
            <div class="col-md-6 patient-header">Age: <span class="text-primary">30 years</span></div>

            <div class="col-md-6 patient-diagnostic">Diagnostic: <span class="text-warning text-bold">Flu</span></div>
            <div class="col-md-6">Next: <span class="text-primary">10/06/2015 02:20 PM</span></div>

            <div class="col-md-6">First checkup: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is cronic: <span class="text-info">No</span></div>

            <div class="col-md-6">Taking treatment: <span class="text-info">Yes</span></div>
            <div class="col-md-6">Is healing: <span class="text-info">Yes</span></div>

            <div class="col-md-6">
                <button class="btn btn-warning">View Treatments</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning">Add Treatment</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>