<h2 class="text-center text-primary">My Treatments</h2>
<br/>
<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <h3 class="text-center">
            From doctor
            <select>
                <option value="lcojo" selected="selected">Dr. John Doe</option>
                <option value="apope">Dr. Cristi Galea</option>
                <option value="mgeor">Dr. Jane Doe</option>
                <option value="apop">All Doctors</option>

            </select>
        </h3>
        <br/>
    </div>
    <div class="panel-body">
        <div class="col-md-12 patient-wrapper">
            <div class="col-md-12 treat-diagnosis-name"><h3>Treatment for: <span class="text-info">Flu</span></h3></div>
            <div class="col-md-6 treat-from">From: <span class="text-primary">10/6/2015</span></div>
            <div class="col-md-6 treat-to">To: <span class="text-primary">15/6/2015</span></div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Dosage</th>
                        <th>Frequency / day</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nurofen</td>
                        <td>500</td>
                        <td>3x</td>
                    </tr>
                    <tr>
                        <td>Oxacilina</td>
                        <td>300</td>
                        <td>3x</td>
                    </tr>
                    <tr>
                        <td>Codeina</td>
                        <td>500</td>
                        <td>2x</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6">
                <button class="btn btn-info">Mark as taken for today</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger">Request urgent care</button>
            </div>
        </div>

        <div class="col-md-12 patient-wrapper">
            <div class="col-md-12 treat-diagnosis-name"><h3>Treatment for: <span class="text-info">Tonsilitis</span></h3></div>
            <div class="col-md-6 treat-from">From: <span class="text-primary">8/3/2014</span></div>
            <div class="col-md-6 treat-to">To: <span class="text-primary">8/3/2014</span></div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Dosage</th>
                        <th>Frequency / day</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nurofen</td>
                        <td>500</td>
                        <td>3x</td>
                    </tr>
                    <tr>
                        <td>Ampicilina</td>
                        <td>1000</td>
                        <td>2x</td>
                    </tr>
                    <tr>
                        <td>Gentamicina</td>
                        <td>100</td>
                        <td>2x</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 patient-wrapper">
            <div class="col-md-12 treat-diagnosis-name"><h3>Treatment for: <span class="text-info">Flu</span></h3></div>
            <div class="col-md-6 treat-from">From: <span class="text-primary">10/6/2015</span></div>
            <div class="col-md-6 treat-to">To: <span class="text-primary">15/6/2015</span></div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Dosage</th>
                        <th>Frequency / day</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nurofen</td>
                        <td>500</td>
                        <td>3x</td>
                    </tr>
                    <tr>
                        <td>Oxacilina</td>
                        <td>300</td>
                        <td>3x</td>
                    </tr>
                    <tr>
                        <td>Codeina</td>
                        <td>500</td>
                        <td>2x</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>