<h2 class="text-center text-primary">My Treatments</h2>
<br/>
<div class="panel col-md-6 col-md-offset-3">
    <div class="panel-header">
        <h3 class="text-center">
            From doctor
            <select data-ng-model="selectedDoctorForTreatmentList">
                <option data-ng-repeat="doc in doctorForTreatmentList" data-ng-value="doc">{{doc}}</option>
            </select>
        </h3>
        <br/>
    </div>

    <!--<div ng-repeat="treat in patientTreatments">-->
        <!--{{treat.patientName}}-->
    <!--</div>-->

    <div class="panel-body">
        <div class="col-md-12 patient-wrapper" ng-repeat="patTreat in patientTreatments | filter: selectedDoctorForTreatmentList" ng-class="{'alert-danger' : patTreat.needUrgentCare}">
            <div ng-hide="patTreat.needUrgentCare" class="col-md-12 treat-diagnosis-name"><h3>Treatment for: <span class="text-info">{{patTreat.diagnosis}}</span></h3></div>
            <div ng-hide="patTreat.needUrgentCare" class="col-md-6 treat-from">From: <span class="text-primary">{{patTreat.treatmentStart}}</span></div>
            <div ng-hide="patTreat.needUrgentCare" class="col-md-6 treat-to">To: <span class="text-primary">{{patTreat.treatmentEnd}}</span></div>
            <div ng-hide="patTreat.needUrgentCare" class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Dosage</th>
                        <th>Frequency / day</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{patTreat.medicine1.name}}</td>
                        <td>{{patTreat.medicine1.dosage}}</td>
                        <td>{{patTreat.medicine1.freq}}</td>
                    </tr>
                    <tr>
                        <td>{{patTreat.medicine2.name}}</td>
                        <td>{{patTreat.medicine2.dosage}}</td>
                        <td>{{patTreat.medicine2.freq}}</td>
                    </tr>
                    <tr>
                        <td>{{patTreat.medicine2.name}}</td>
                        <td>{{patTreat.medicine2.dosage}}</td>
                        <td>{{patTreat.medicine2.freq}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-hide="patTreat.needUrgentCare" class="col-md-6" ng-show="patTreat.inProgress">
                <button class="btn btn-info" ng-click="markForToday(patTreat)">Mark as taken for today</button>
            </div>
            <div ng-hide="patTreat.needUrgentCare" class="col-md-6" ng-show="patTreat.inProgress">
                <button class="btn btn-danger" ng-click="requestUrgentCare(patTreat)">Request urgent care</button>
            </div>




            <div ng-show="patTreat.needUrgentCare" class="col-md-12 text-center"><h3 class="">Alert for {{patTreat.diagnosis}}</h3></div>
            <div ng-show="patTreat.needUrgentCare" class="col-md-6">Name: <span class=" text-bold">{{patTreat.patientName}}</span></div>
            <div ng-show="patTreat.needUrgentCare" class="col-md-6">Age: <span class="">{{patTreat.patientAge}} years</span></div>
            <div ng-show="patTreat.needUrgentCare" class="col-md-6 col-md-offset-3 text-center"><h3 class="">NEED URGENT CARE</h3></div>

        </div>
    </div>
</div>
<div class="clearfix"></div>